In [0]:
# Properties
properties = [
    (1, 101, "New York", "Apartment", 250, "active"),
    (2, 102, "Los Angeles", "House", 280, "active"),
    (3, 103, "Chicago", "Condo", 190, "inactive"),
    (4, 104, "Houston", "House", 180, "active"),
    (5, 105, "Phoenix", "Apartment", 110, "active"),
    (6, 106, "Philadelphia", "Condo", 180, "inactive"),
    (7, 107, "San Antonio", "House", 150, "active"),
    (8, 108, "San Diego", "Apartment", 130, "active"),
    (9, 109, "Dallas", "House", 170, "inactive"),
    (10, 110, "San Jose", "Condo", 295, "active"),
    (11, 111, "Austin", "House", 160, "active"),
    (12, 112, "Jacksonville", "Apartment", 100, "inactive"),
    (13, 113, "Fort Worth", "Condo", 85, "active"),
    (14, 114, "Columbus", "House", 140, "active"),
    (15, 115, "Charlotte", "Apartment", 125, "inactive")
]

properties_df = spark.createDataFrame(properties, ["property_id", "host_id", "location", "type", "price_per_night", "status"])

properties_df.write.mode("overwrite").format("delta").save("/Volumes/tabular/dataexpert/sirdonaldo/properties")

# Hosts
hosts = [
    (101, "John Davies", "johndavies@gmail.com", 6, 4.5),
    (102, "Jane Smith", "janesmith@yahoo.com", 2, 4.6),
    (103, "Alice Johnson", "alicejohnson@hotmail.com", 15, 4.3),
    (104, "Bob Brown", "bobbrown@gmail.com", 8, 4.5),
    (105, "Charlie Davis", "charliedavies@gmail.com", 4, 4.6),
    (106, "David Garcia", "davidgarcia@yahoo.com", 3, 4.8),
    (107, "Eve Rodriguez", "everodriguez@hotmail.com", 9, 4.5),
    (108, "Frank Martinez", "frankmartinez@live.com", 4, 4.4),
    (109, "Grace Lee", "gracelee@tekluminate.net", 7, 4.8),
    (110, "Hannah Kim", "hannahkim@gmail.com", 7, 4.7),
    (111, "Ivan Nguyen", "ivannguyen@gmail.com", 5, 4.6),
    (112, "Tosin Adarabioyo", "tosinadarabioyo@gmail.com", 9, 4.9),
    (113, "Karen Hall", "karenhall@yahoo.com", 4, 3.7),
    (114, "Liam Clark", "liamclark@nba.com", 4, 4.3),
    (115, "Mia Patel", "miapatel@gmail.com", 24, 4.1)
]

hosts_df = spark.createDataFrame(hosts, ["host_id", "name", "contact_info", "number_of_properties", "rating"])

hosts_df.write.mode("overwrite").format("delta").save(
    "/Volumes/tabular/dataexpert/Sirdonaldo/hosts"
)

# Guests
guests = [
    (201, "Santan Dave", "santandave@ukrap.com", 7, 6),
    (202, "Micah Welps", "micahwelps@yahoo.com", 10, 4),
    (203, "Raj Patel", "rajpatel@gmail.com", 12, 5),
    (204, "Sara Lee", "sara.lee@hotmail.com", 2, 1),
    (205, "Tom Brown", "tombrown@gmail.com", 3, 3),
    (206, "Lucy Johnson", "lucyjohnson@yahoo.com", 5, 4),
    (207, "Emma Davis", "emmadavis@hotmail.com", 8, 5),
    (208, "Oliver White", "oliverwhite@gmail.com", 3, 2),
    (209, "Sophia Green", "sophiagreen@yahoo.com", 4, 4),
    (210, "Noah Black", "noahblack@hotmail.com", 6, 3),
    (211, "Ava Brown", "avabrown@gmail.com", 9, 5),
    (212, "Ella White", "ellawhite@yahoo.com", 11, 4),
    (213, "James Green", "jamesgreen@hotmail.com", 13, 5),
    (214, "Isabella Black", "isabellaback@gmail.com", 15, 4),
    (215, "William White", "williamwhite@yahoo.com", 17, 5)
]

guests_df = spark.createDataFrame(guests, ["guest_id", "name", "contact_info", "booking_history", "reviews_given"])

guests_df.write.mode("overwrite").format("delta").save(
    "/Volumes/tabular/dataexpert/Sirdonaldo/guests"
)

# Bookings
bookings = [
    (301, 1, 201, "2025-08-01", "2025-08-05", 250*4, "confirmed"),   # New York, 4 nights
    (302, 2, 202, "2025-08-03", "2025-08-08", 280*5, "confirmed"),   # Los Angeles, 5 nights
    (303, 3, 203, "2025-08-02", "2025-08-04", 190*2, "cancelled"),   # Chicago, 2 nights
    (304, 4, 204, "2025-08-10", "2025-08-13", 180*3, "confirmed"),   # Houston, 3 nights
    (305, 5, 205, "2025-08-12", "2025-08-16", 110*4, "confirmed"),   # Phoenix, 4 nights
    (306, 6, 206, "2025-08-15", "2025-08-18", 180*3, "confirmed"),   # Philadelphia, 3 nights
    (307, 7, 207, "2025-08-20", "2025-08-25", 150*5, "confirmed"),   # San Antonio, 5 nights
    (308, 8, 208, "2025-08-21", "2025-08-23", 130*2, "cancelled"),   # San Diego, 2 nights
    (309, 9, 209, "2025-08-22", "2025-08-24", 170*2, "confirmed"),   # Dallas, 2 nights
    (310, 10, 210, "2025-08-28", "2025-08-31", 295*3, "confirmed"),  # San Jose, 3 nights
    (311, 11, 201, "2025-09-01", "2025-09-04", 160*3, "confirmed"),  # Austin, 3 nights
    (312, 12, 202, "2025-09-02", "2025-09-05", 100*3, "cancelled"),  # Jacksonville, 3 nights
    (313, 13, 203, "2025-09-05", "2025-09-07", 85*2, "confirmed"),   # Fort Worth, 2 nights
    (314, 14, 204, "2025-09-10", "2025-09-14", 140*4, "confirmed"),  # Columbus, 4 nights
    (315, 15, 205, "2025-09-12", "2025-09-15", 125*3, "confirmed")   # Charlotte, 3 nights
]

bookings_df = spark.createDataFrame(bookings, ["booking_id", "property_id", "guest_id", "check_in_date", "check_out_date", "total_price", "status"])

bookings_df.write.mode("overwrite").format("delta").save(
    "/Volumes/tabular/dataexpert/Sirdonaldo/bookings"
)

# Reviews 
reviews = [
    (401, 301, 201, 1, 5, "Amazing apartment in New York, very clean and central."),
    (402, 302, 202, 2, 4, "Great house in LA, host was responsive."),
    (403, 303, 203, 3, 3, "Chicago condo was okay, location good but noisy."),
    (404, 304, 204, 4, 3, "Houston stay was average, house needed maintenance."),
    (405, 305, 205, 5, 5, "Phoenix apartment was excellent and affordable."),
    (406, 306, 206, 6, 4, "Philadelphia condo was decent, Wi-Fi was slow."),
    (407, 307, 207, 7, 5, "San Antonio house was fantastic, great host!"),
    (408, 308, 208, 8, 2, "San Diego apartment booking cancelled, host unhelpful."),
    (409, 309, 209, 9, 2, "Dallas house was disappointing, cleanliness issues."),
    (410, 310, 210, 10, 5, "San Jose condo was modern and comfortable."),
    (411, 311, 201, 11, 4, "Austin house was cozy, nice neighborhood."),
    (412, 312, 202, 12, 3, "Jacksonville apartment was basic, fair price."),
    (413, 313, 203, 13, 3, "Fort Worth condo was small, decent for short stays."),
    (414, 314, 204, 14, 5, "Columbus house was spacious and well-equipped."),
    (415, 315, 205, 15, 4, "Charlotte apartment was good value, would stay again.")
]

reviews_df = spark.createDataFrame(reviews, ["review_id", "booking_id", "guest_id", "property_id", "rating", "comments"])

reviews_df.write.mode("overwrite").format("delta").save(
    "/Volumes/tabular/dataexpert/Sirdonaldo/reviews"
)

# Costs & Revenue
costs_revenue = [
    (501, 1,  "maintenance", 300, "2025-08-01"),
    (502, 2,  "cleaning",    200, "2025-08-02"),
    (503, 3,  "utilities",   150, "2025-08-03"),
    (504, 4,  "maintenance", 250, "2025-08-04"),
    (505, 5,  "cleaning",    100, "2025-08-05"),
    (506, 6,  "utilities",   180, "2025-08-06"),
    (507, 7,  "maintenance", 220, "2025-08-07"),
    (508, 8,  "cleaning",    400, "2025-08-08"),
    (509, 9,  "utilities",   160, "2025-08-09"),
    (510, 10, "maintenance", 350, "2025-08-10"),
    (511, 11, "cleaning",    180, "2025-08-11"),
    (512, 12, "utilities",   120, "2025-08-12"),
    (513, 13, "maintenance", 200, "2025-08-13"),
    (514, 14, "cleaning",    170, "2025-08-14"),
    (515, 15, "utilities",   140, "2025-08-15")
]

costs_revenue_df = spark.createDataFrame(costs_revenue, ["cost_id", "property_id", "cost_type", "amount", "timestamp"])

costs_revenue_df.write.mode("overwrite").format("delta").save(
    "/Volumes/tabular/dataexpert/Sirdonaldo/costs_revenue"
)

In [0]:
%sql
-- 1. Property Management
-- Active vs Inactive Properties
SELECT status, COUNT(*) AS property_count
FROM delta.`/Volumes/tabular/dataexpert/sirdonaldo/properties`
GROUP BY status;

-- Top 5 properties by revenue
SELECT b.property_id, SUM(b.total_price) AS total_revenue
FROM delta.`/Volumes/tabular/dataexpert/sirdonaldo/bookings` b 
WHERE b.status = 'confirmed'
GROUP BY b.property_id
ORDER BY total_revenue DESC
LIMIT 5;

-- 2. Host Performance
-- Host Ratings Ranking
SELECT host_id, name, rating
FROM delta.`/Volumes/tabular/dataexpert/sirdonaldo/hosts`
ORDER BY rating DESC
LIMIT 10;

-- 3. Guest Booking Patterns
-- Cancellation Rate
SELECT
 (SUM(CASE WHEN status = 'cancelled' THEN 1 ELSE 0 END) * 100.0 / COUNT(*)) AS cancellation_rate
 FROM delta.`/Volumes/tabular/dataexpert/sirdonaldo/bookings`;

-- Repeat Guests
SELECT guest_id, COUNT(booking_id) AS total_bookings
FROM delta.`/Volumes/tabular/dataexpert/sirdonaldo/bookings`
WHERE status = 'confirmed' 
GROUP BY guest_id
HAVING COUNT(booking_id) > 1;

-- 4. Review Analysis
-- Average Guest Satisfaction per Property
SELECT property_id, AVG(rating) AS avg_rating
FROM delta.`/Volumes/tabular/dataexpert/sirdonaldo/reviews`
GROUP BY property_id;

-- 5. Cost and Revenue Optimization
-- Revenue vs Costs per Property
SELECT 
  b.property_id,
  SUM(b.total_price) AS total_revenue,
  COALESCE(SUM(c.amount), 0) AS total_costs,
  (SUM(b.total_price) - COALESCE(SUM(c.amount), 0)) AS profit
FROM delta.`/Volumes/tabular/dataexpert/sirdonaldo/bookings` b
LEFT JOIN delta.`/Volumes/tabular/dataexpert/sirdonaldo/costs_revenue` c
  ON b.property_id = c.property_id
WHERE b.status = 'confirmed'
GROUP BY b.property_id
ORDER BY profit DESC;

property_id,total_revenue,total_costs,profit
2,1400,200,1200
1,1000,300,700
10,885,350,535
7,750,220,530
14,560,170,390
6,540,180,360
5,440,100,340
11,480,180,300
4,540,250,290
15,375,140,235
9,340,160,180
13,170,200,-30

In [0]:
from pyspark.sql.functions import datediff, sum as _sum, count, col, when, lower, avg

# 1. Occupancy Rate 
booked_nights = bookings_df.filter(bookings_df.status == "confirmed") \
    .withColumn("nights", datediff("check_out_date", "check_in_date")) \
    .agg(_sum("nights")).first()[0]

available_nights = properties_df.count() * 30  
occupancy_rate = (booked_nights / available_nights) * 100
print("Occupancy Rate")
print(f"{occupancy_rate:.2f}%")

# 2. Average Booking Value
avg_booking_value = bookings_df.filter(bookings_df.status == "confirmed").agg(
    (_sum("total_price") / count("booking_id")).alias("avg_booking_value")
)
print("Average Booking Value")
avg_booking_value.show()

# 3. Host Responsiveness 
hosts_with_response = hosts_df.withColumn(
    "response_time_minutes",
    (col("rating") * 10).cast("int")   # fake values for demo
)
host_responsiveness = hosts_with_response.agg(
    (avg("response_time_minutes")).alias("avg_response_time_minutes")
)
print("Host Responsiveness (synthetic)")
host_responsiveness.show()

# 4. Cancellation Rate 
cancellations = bookings_df.filter(bookings_df.status == "cancelled").count()
total_bookings = bookings_df.count()
cancellation_rate = (cancellations / total_bookings) * 100
print("Cancellation Rate")
print(f"{cancellation_rate:.2f}%")

# 5. Guest Satisfaction Score 
guest_satisfaction = reviews_df.agg(
    (_sum("rating") / count("review_id")).alias("guest_satisfaction_score")
)
print("Guest Satisfaction Score")
guest_satisfaction.show()

# 6. Revenue Per Property 
total_revenue = bookings_df.filter(bookings_df.status == "confirmed").agg(
    _sum("total_price")
).first()[0]
num_properties = properties_df.count()
revenue_per_property = total_revenue / num_properties
print("Revenue Per Property")
print(f"{revenue_per_property:.2f}")

# 7. Repeat Booking Rate 
repeat_guests = bookings_df.filter(bookings_df.status == "confirmed") \
    .groupBy("guest_id").count().filter("count > 1").count()
total_guests = guests_df.count()
repeat_booking_rate = (repeat_guests / total_guests) * 100
print("Repeat Booking Rate")
print(f"{repeat_booking_rate:.2f}%")

# 8. Maintenance Cost per Property 
total_costs = costs_revenue_df.agg(_sum("amount")).first()[0]
num_properties = properties_df.count()
maintenance_cost_per_property = total_costs / num_properties
print("Maintenance Cost per Property")
print(f"{maintenance_cost_per_property:.2f}")

# 9. Review Sentiment Analysis 
sentiment_df = reviews_df.withColumn(
    "sentiment",
    when(lower(col("comments")).rlike("excellent|amazing|great|good"), "positive")
    .when(lower(col("comments")).rlike("bad|poor|disappointing|dirty"), "negative")
    .otherwise("neutral")
)
positive_reviews = sentiment_df.filter(col("sentiment") == "positive").count()
negative_reviews = sentiment_df.filter(col("sentiment") == "negative").count()
total_reviews = sentiment_df.count()
sentiment_score = (positive_reviews - negative_reviews) / total_reviews
print("Review Sentiment Analysis")
print(f"{sentiment_score:.2f}")

# 10. Listing Activation Time 
properties_with_activation = properties_df.withColumn("activation_requested", col("property_id")*2) \
    .withColumn("activation_completed", (col("property_id")*2 + 5))

activation_time = properties_with_activation.withColumn(
    "activation_days", (col("activation_completed") - col("activation_requested"))
)
avg_activation_time = activation_time.agg(
    (avg("activation_days")).alias("avg_activation_days")
)
print("Listing Activation Time (synthetic)")
avg_activation_time.show()

Occupancy Rate
9.11%
Average Booking Value
+-----------------+
|avg_booking_value|
+-----------------+
|623.3333333333334|
+-----------------+

Host Responsiveness (synthetic)
+-------------------------+
|avg_response_time_minutes|
+-------------------------+
|        44.86666666666667|
+-------------------------+

Cancellation Rate
20.00%
Guest Satisfaction Score
+------------------------+
|guest_satisfaction_score|
+------------------------+
|                     3.8|
+------------------------+

Revenue Per Property
498.67
Repeat Booking Rate
20.00%
Maintenance Cost per Property
208.00
Review Sentiment Analysis
0.33
Listing Activation Time (synthetic)
+-------------------+
|avg_activation_days|
+-------------------+
|                5.0|
+-------------------+

In [0]:
import dlt
from pyspark.sql.functions import col, sum as _sum, count, datediff, avg, when, lower

# =====================
# BRONZE (raw tables)
# =====================

@dlt.table
def bronze_properties_sirdonaldo():
    return spark.read.format("delta").load("/Volumes/tabular/dataexpert/sirdonaldo/properties")

@dlt.table
def bronze_hosts_sirdonaldo():
    return spark.read.format("delta").load("/Volumes/tabular/dataexpert/sirdonaldo/hosts")

@dlt.table
def bronze_guests_sirdonaldo():
    return spark.read.format("delta").load("/Volumes/tabular/dataexpert/sirdonaldo/guests")

@dlt.table
def bronze_bookings_sirdonaldo():
    return spark.read.format("delta").load("/Volumes/tabular/dataexpert/sirdonaldo/bookings")

@dlt.table
def bronze_reviews_sirdonaldo():
    return spark.read.format("delta").load("/Volumes/tabular/dataexpert/sirdonaldo/reviews")

@dlt.table
def bronze_costs_revenue_sirdonaldo():
    return spark.read.format("delta").load("/Volumes/tabular/dataexpert/sirdonaldo/costs_revenue")


# =====================
# SILVER (cleaned data)
# =====================

@dlt.table
def silver_confirmed_bookings_sirdonaldo():
    return dlt.read("bronze_bookings_sirdonaldo").filter(col("status") == "confirmed")

@dlt.table
def silver_active_properties_sirdonaldo():
    return dlt.read("bronze_properties_sirdonaldo").filter(col("status") == "active")


# =====================
# GOLD (business KPIs)
# =====================

@dlt.table
def gold_occupancy_rate_sirdonaldo():
    df = dlt.read("silver_confirmed_bookings_sirdonaldo").withColumn(
        "nights", datediff("check_out_date", "check_in_date")
    )
    agg_df = df.groupBy().agg(_sum("nights").alias("booked_nights"))
    total_properties = dlt.read("bronze_properties_sirdonaldo").count()
    available_nights = total_properties * 30
    return agg_df.withColumn(
        "occupancy_rate", (col("booked_nights") / available_nights) * 100
    ).select("occupancy_rate")


@dlt.table
def gold_avg_booking_value_sirdonaldo():
    df = dlt.read("silver_confirmed_bookings_sirdonaldo")
    return df.groupBy().agg(
        (_sum("total_price") / count("booking_id")).alias("avg_booking_value")
    )


@dlt.table
def gold_host_responsiveness_sirdonaldo():
    df = dlt.read("bronze_hosts_sirdonaldo").withColumn(
        "response_time_minutes", (col("rating") * 10).cast("int")
    )
    return df.groupBy().agg(avg("response_time_minutes").alias("avg_response_time_minutes"))


@dlt.table
def gold_cancellation_rate_sirdonaldo():
    df = dlt.read("bronze_bookings_sirdonaldo")
    return df.groupBy().agg(
        ( ( _sum(when(col("status") == "cancelled", 1).otherwise(0)) / count("*") ) * 100
        ).alias("cancellation_rate")
    )


@dlt.table
def gold_guest_satisfaction_sirdonaldo():
    df = dlt.read("bronze_reviews_sirdonaldo")
    return df.groupBy().agg(
        (_sum("rating") / count("review_id")).alias("guest_satisfaction_score")
    )


@dlt.table
def gold_revenue_per_property_sirdonaldo():
    df = dlt.read("silver_confirmed_bookings_sirdonaldo")
    return df.groupBy("property_id").agg(
        _sum("total_price").alias("revenue_per_property")
    )


@dlt.table
def gold_repeat_booking_rate_sirdonaldo():
    df = dlt.read("silver_confirmed_bookings_sirdonaldo")
    repeat_df = df.groupBy("guest_id").count().filter("count > 1")
    total_guests = dlt.read("bronze_guests_sirdonaldo").count()
    rate = (repeat_df.count() / total_guests) * 100 if total_guests > 0 else 0
    return spark.createDataFrame([(rate,)], ["repeat_booking_rate"])


@dlt.table
def gold_maintenance_cost_per_property_sirdonalo():
    df = dlt.read("bronze_costs_revenue_sirdonaldo")
    return df.groupBy("property_id").agg(
        avg("amount").alias("maintenance_cost_per_property")
    )


@dlt.table
def gold_review_sentiment_score_sirdonaldo():
    df = dlt.read("bronze_reviews_sirdonaldo").withColumn(
        "sentiment",
        when(lower(col("comments")).rlike("excellent|amazing|great|good"), "positive")
        .when(lower(col("comments")).rlike("bad|poor|disappointing|dirty"), "negative")
        .otherwise("neutral")
    )
    return df.groupBy("property_id").agg(
        (_sum(when(col("sentiment") == "positive", 1).otherwise(0)) -
         _sum(when(col("sentiment") == "negative", 1).otherwise(0))
        ).alias("sentiment_score")
    )

---------------------------------------------------------------------------
DLTImportException                        Traceback (most recent call last)
File <command-6759857601255788>, line 1
----> 1 import dlt
      2 from pyspark.sql.functions import col, sum as _sum, count, datediff, avg, when, lower
      4 # =====================
      5 # BRONZE (raw tables)
      6 # =====================

File /databricks/python_shell/lib/dbruntime/PostImportHook.py:231, in _ImportHookChainedLoader.exec_module(self, module)
    229 def exec_module(self, module):
    230     try:
--> 231         self.loader.exec_module(module)
    232         notify_module_loaded(module)
    233     except (ImportError, AttributeError):

File /databricks/spark/python/dlt/__init__.py:22
     19 # DLT python module is not supported when Spark Connect is enabled. So, we throw an error
     20 # here.
     21 if is_remote_spark:
---> 22     raise DLTImportException(
     23         "Delta Live Tables module is not supported on Spark Connect clusters. "
     24     )
     26 from dlt.api import *
     27 from dlt.helpers import deprecation_warn

DLTImportException: Delta Live Tables module is not supported on Spark Connect clusters.